<!DOCTYPE html>
<html>
  <head>
    <title>Cool Page</title>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body>
    <div id="bubblecontainer">
      <div id="bubble">
        <div class="b onkey inv">Click the key when your done.</div>
        <div class="b ontag inv">You're doing great. Click the tag to move on.</div>
        <div class="b onrocket inv">My Hashstache is itchy. Click on the rocket to continue?
        </div>
        <div class="b onbracket inv"> <%= link_to 'Fun Fun Fun Fun. Lets take a break from this and get to know each other. Click here when you are ready.', new_user_path %>
        </div>
      </div>
      <div class="smallbubble"></div>
      <div class="smallbubble2"></div>
    </div>


    <div id= "main">
      <div id="maincontainer">
        <div id= "bracket" class="bracket inv_img">{</div>
        <div id= "key" class="inv_img"><%= image_tag "key.png" %></div>
        <div id= "rocket" class="rocket inv_img">=></div>
        <div id="tag" class="inv_img"><%= image_tag "tag1.png" %></div>
        <div id= "bracket" class="bracket inv_img">}</div>
      </div>
    </div>



    <div id="containertext">
      <div class="lefttext">
        <div id="text_key"class="inv">
          A key is a symbol that represents an object.  The key always sits on the left.
        </div>
        <div id="text_tag" class="inv">
          The value shown here as a price tag always sits on the right of the key.
        </div>
        <div id="text_rocket" class="inv" >
          A hash rocket is exactly what it looks like. It is made up an equal sign and a greater than sign and sits exactly in between the key and its value.
        </div>
        <div id="text_bracket" class="inv" >
          Curley brackets guard the key/value pairs.  Without it, the key/value pairs might get lost and wander off in space.  The curly brackets closes off the key/value pair on either side.
        </div>
      </div>


      <div class="catbox" >
        <%= image_tag "octocat.png" %>
      </div>

    </div>

<div id="gamepage"></div>







  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="js/script.js"></script>

  </body>
</html>



