
    <p class="congrats hide" >YOU DID! you are a master at HASHES!</p>
    <p class="gametalk">Put the hash in the correct order.  I know you can do it!</p>

    <div id= "backgrounddiv">


      <div class="bracket draggable" data-question-id="5">}</div>

      <div id="tag" class="draggable" data-question-id="4"><%= image_tag "tag.png" %></div>

      <div class="bracket draggable" data-question-id="1">{</div>

      <div id= "key" class="draggable" data-question-id="2"><%= image_tag "key4.png" %></div>

      <div class="rocket draggable" data-question-id="3">=></div>

    </div>

    <div class="gamebox">
      <div class="drop1 droppable" data-question-id="1"></div>
      <div class="drop2 droppable" data-question-id="2"></div>
      <div class="drop3 droppable" data-question-id="3"></div>
      <div class="drop4 droppable" data-question-id="4"></div>
      <div class="drop5 droppable" data-question-id="5"></div>
    </div>

    <div id="gamecat">
      <%= image_tag "octocat.png" %>
    </div>









