<!DOCTYPE html>
<html>
  <head>
    <title>Cool Page</title>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body>


    <div id= "backgrounddiv">



      <div class="bracket draggable" data-question-id="1">{</div>
      <!-- key -->
      <div id= "key"><%= image_tag "key.png" %></div>
      <!-- rocket -->
      <div class="rocket">=></div>
      <!-- value -->
      <div id="tag"><%= image_tag "tag1.png" %></div>

      <div class="bracket draggable" data-question-id="2">}</div>
    </div>

    <div id="containertext">
      <div class="drop1 droppable" data-question-id="1">
        <div >A hash is a way to send information.
        </div>
      </div>


      <div class="drop2 droppable" data-question-id="2">
        <div id="cat"> <%= image_tag "octocat.png" %> </div>
      </div>
    </div>





    <div id="tag"><%= image_tag "octocat.png" %></div>


    <div >drag me</div>
    <h1>appear disappear</h1>

    <div id="box">
      <div id="text">Text</div>
    </div>

    <div id="point">Click</div>

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="js/script.js"></script>

  </body>
</html>



