  <div id="maincontainer">
    <p class="congrats hide" >YOU DID! you are a master at HASHES!</p>


    <div id= "backgrounddiv">


      <div class="g_bracket draggable" data-question-id="5">}</div>

      <div id="g_tag" class="draggable" data-question-id="4"><%= image_tag "tag.png" %></div>

      <div class="g_lbracket draggable" data-question-id="1">{</div>

      <div id= "g_key" class="draggable" data-question-id="2"><%= image_tag "key4.png" %></div>

      <div class="g_rocket draggable" data-question-id="3">=></div>

    </div>

    <div class="gamebox">
      <div class="drop1 droppable" data-question-id="1"></div>
      <div class="drop2 droppable" data-question-id="2"></div>
      <div class="drop3 droppable" data-question-id="3"></div>
      <div class="drop4 droppable" data-question-id="4"></div>
      <div class="drop5 droppable" data-question-id="5"></div>
    </div>

  <div>
    <div id="gamecat">
      <%= image_tag "octocat.png" %>
    </div>
    <div id="g_bubble">
      <p class="gametalk">What does a hash look like? Drag and Drop each element to its correct place. I know you can do it!</p>
      <div class="g_smallbubble"></div>
      <div class="g_smallbubble2"></div>

    </div>
  </div>
</div>







