<!DOCTYPE html>
<html>
  <head>
    <title>Cool Page</title>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body>
    <div >drag me</div>
    <h1>appear disappear</h1>

    <div id="box">
      <div id="text">Text</div>
    </div>

    <div id="point">Click</div>

    <div id= "backgrounddiv">

      <div class="bracket1">{</div>
      <div id="tag"><img src="images/tag.png"/></div>
      <div class="rocket">=></div>
      <div id= "key"><img src="images/key4.png"/></div>
      <div class="bracket2" id="draggable">}</div>
      <div id= "droppable"><img src="images/width.png"></div>

    </div>




  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  </body>
</html>



