body {
  background-color:white;
}

#box {
  background-color:white;
  height:100px;
  width:200px;
  font-size: 5em;

}

#text {
  color: #3E8988;
}

.hide{
  visibility:hidden;
}

#point {
  height:50px;
  width:100px;
  background-color:blue;
}

#backgrounddiv{
  width: 960px;
  height: 480px;
  line-height: 500px;
  background-color: #CCFFFA;
  border: 10px;
  border-color: black;
  -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

/*  position: absolute;
  top:  px;
  bottom: 00px;
  left: 0;
  right: 0;

  margin: auto;
  text-align: center;*/

  }
}
#background  {
    display: block;   margin-left: auto;   margin-right: auto;
}

#containertext {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 500px;
  line-height: 500px;
  background-color: ;
  display: table;
}
.bracket {
  font-family: COURIER;
  font-weight: bold;
  color: #ec8305;
  font-size:  200px;
  display:inline-block;
  margin-bottom: 100px

}

#cat{
  margin-bottom: 200px;
}


.rocket {
  font-style: courier;
  font-weight: bold;
  font-size:  120px;
  display:inline-block;
}

#tag{
  display:inline-block;
}

#key{
  display:inline-block;
}

.drop1{
  background-color:#e6e6e6;
  height:250px;
  width:640px;
  font-size: 2em;
  word-wrap: normal|break-word;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
  position: relative;
  float: left;
  -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 30px;
  margin-top: 20px}

.drop2{
  background-color:#cccccc;
  height:250px;
  width:300px;
  font-size: 5em;
  position: relative;
  float: left;
  -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 30px;
  margin-left: 20px;
  margin-top: 20px;
}


