body {
  background-color:white;
}

#main{
  width: 960px;
  height: 480px;
  line-height: 480px;
  background-color: #CCFFFA;
  text-align: middle;
  -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;


/*  position: absolute;
  top:  px;
  bottom: 00px;
  left: 0;
  right: 0;

  margin: auto;
  text-align: center;*/

  }


#bracket {
  font-family: COURIER;
  font-weight: bold;
  color: #ec8305;
  font-size:  200px;
  display:inline-block;
  margin-bottom: 100px
  vertical-align: middle;
}
#rocket {
  font-style: arial;
  font-weight: bold;
  font-size:  90px;
  display:inline-block;
  margin-left: -10px;
  margin-right: -10px;
  vertical-align: middle;
}

#tag{
  display:inline-block;
  vertical-align: middle;
}

#key{
  display:inline-block;
  vertical-align: middle;
}
#cat{
  margin-bottom: 200px;
}

.inv_img{
  visibility: hidden;
}

.inv{
  display: none;
}

#containertext {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 500px;
  line-height: 500px;
  background-color: ;
  display: table;
}


.lefttext{
  background-color:#e6e6e6;
  height:250px;
  width:640px;
  font-size: 2em;
  word-wrap: normal|break-word;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
  position: relative;
  float: left;
  -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 30px;
  margin-top: 20px}

.rightcat{
  background-color:#cccccc;
  height:250px;
  width:300px;
  font-size: 5em;
  position: relative;
  float: left;
  -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 30px;
  margin-left: 20px;
  margin-top: 20px;
}


